html, body {
   padding: 0;
   margin: 0;
   height: 100%;
}

#top {
   width: 100%;
   height: 20%;
   background-color: #76A1BA;
   /* #cc99ff (light purp) */

}

#bottom {
   width: 100%;
   height: 80%;
}

#top h3 {
   font-family: Verdana;
   font-size: 24px;
   color: white;
   /* position: absolute;
   left: 50%;
   top: 25%;
   transform: translate(-50%, -50%); */
}
