<!DOCTYPE html>
<html>
   <head>
      <title>Van Brantley</title>
      <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}" />
   </head>
   <body>

      <div class="container-fluid">

         <div class="row">
            <nav class="navbar navbar-light navbar-expand-lg" style="background-color: #76A1BA; width: 100%;">

               <a class="navbar-brand" href="#">Van Brantley</a>
               <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
               </button>

               <div class="collapse navbar-collapse" id="navbarText">
                  <ul class="navbar-nav ml-auto">
                     <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                     </li>
                     <li>
                        <a class="nav-link" href="/portfolio">Portfolio</a>
                     </li>
                     <li>
                        <a class="nav-link" href="/picks">Picks</a>
                     </li>
                     <li>
                        <a class="nav-link" href="/contact">Contact</a>
                     </li>
                  </ul>
               </div>

            </nav>
         </div>

         <div class="row">
            <img src="static/whitman.JPG"class="img-fluid" style="max-width:100%; height:auto;">
         </div>

      </div>



         <!-- <div id="top" class="my-auto">
            <h3 class="text-center" id="top-text">Hi, my name is Van. I am a full stack developer living in Maplewood, NJ.</h3>
         </div>

         <div id="bottom">
            <img src="static/whitman.JPG" style="width:100%;">
         </div> -->



   </body>
</html>
